.DS_Store
*.pyc
secrets.yaml

/.vscode/

/esphome
/.esphome/
/.platformio
/lib/
/config/
/platformio.ini
/partitions.csv
Doxygen

/compile_commands.json
/.clang_complete
/.gcc-flags.json
/.temp-clang-tidy.cpp
/*-dev.yaml
/*-gen.yaml
/*-bin.yaml

/components/vport
