.DS_Store
*.pyc
secrets.yaml

/.vscode/

/esphome
/.esphome/
/.platformio
/lib/
/config/
/.venv
/venv
/.build/
/build/
/platformio.ini
/partitions.csv
Doxygen

/.clang_complete
/.gcc-flags.json
/.temp-clang-tidy.cpp
/*-dev.yaml
/*-gen.yaml
/*-bin.yaml
/*.log
/sdkconfig


/tests/test_x.cpp
/components/vport
/components/nvs
/components/settings
/components/cgp
/components/qingping
/components/web_server
/components/web_server_idf
/components/web_menu
/components/coredump
/components/*_jtag/
/components/_*
/fw
