{%- if (port|length) == 0 or (type|length) == 0 %}{{ ("port or type not defined")|raise}}{% endif -%}
substitutions:
  {%- if port == "ble" %}
  # Tion mac address. Setup yours.
  tion_mac_address: 00:00:00:00:00:00
  {%- endif %}
  # Name of the node. Don't use underscores!
  # https://esphome.io/guides/faq.html#why-shouldn-t-i-use-underscores-in-my-device-name
  node_name: tion-{{ "lite" if type == "lt" else type }}
  # Name for the main entity and prefix for all others.
  friendly_name: $node_name
  # Change to sntp if you plan to use MQTT and tion_energy package.
  time_platform: homeassistant

  {%- if type == "3s" and port == "uart" %}
  # UART configuration.
  # Make sure to use YOUR pins!
  tx_pin: TX
  rx_pin: RX
  baud_rate: "115200"
  # UART proxy configuration (optional).
  # Make sure to use YOUR pins!
  proxy_tx_pin: GPIO15
  proxy_rx_pin: GPIO13
  {%- endif %}
  {%- if type == "o2" and port == "uart" %}
  # UART configuration.
  # Make sure to use YOUR pins!
  tx_pin: GPIO19
  rx_pin: GPIO20
  baud_rate: "115200"
  {%- endif %}

  # WiFi settings.
  wifi_ssid: !secret wifi_ssid
  wifi_password: !secret wifi_password
  # WiFi Access Point password.
  wifi_ap_password: tion-0123-{{ type }}

  {%- if (project_source|length) > 0 %}
  project_source: {{ project_source }}
  {%- endif %}
  {%- if (project_branch|length) > 0 %}
  project_branch: {{ project_branch }}
  {%- endif %}
  {%- if (project_version|length) > 0 %}
  project_version: {{ project_version }}
  {%- endif %}

packages:
  tion:
    url: https://github.com/dentra/esphome-tion
    ref: {{ version_tion }} # cant use substitutions here
    files:
      ## You can enable or disable some of the features listed below.
      ## The disabled feature starts with # symbol.
      ## The indentation before uncommented package is very important!

      ## Additional WiFi signal sensor.
      - packages/wifi_signal.yaml
      {%- if port == "ble" %}
      ## Additional BLE RSSI sensor.
      - packages/rssi_signal.yaml
      {%- endif %}
      ## Additional Uptime sensor.
      - packages/uptime.yaml
      ## Additional Restart button.
      - packages/restart.yaml
      ## Unlock Tion 30°C heating.
      #- packages/tion_temperature30c.yaml
      {%- if type != "3s" %}
      ## Additional energy sensor.
      ## !!! Be sure to change substitutions.time_platform to "sntp" if you use it with MQTT.
      {{ "" if enable_energy == "true" else "# " -}}
      - packages/tion_energy.yaml
      {%- endif -%}
      {#%- if type == "o2" and port == "uart" %}
      ## UART proxy support.
      # - packages/tion_o2_proxy.yaml
      {%- endif %#}
      {%- if type in ["3s", "o2"] %}
      ## Antifreeze protection. Automatically turns on the heater at a temperature of 0°C and below.
      - packages/tion_enable_antifreeze.yaml
      {%- endif %}
      ## Common configuration settings. Do not comment or move or remove!
      - packages/base.yaml
      {%- if type == "3s" and port == "uart" %}
      ## Change to esp32.yaml/esp32_s3.yaml/esp32_c3.yaml/esp32_s2.yaml to use with ESP32/ESP32-S3/C3/S2 chip.
      - packages/esp8266_uart.yaml
      ## Proxy internal Tion BLE module.
      #- packages/tion_3s_proxy.yaml
      {%- endif %}
      {%- if type in ["4s", "o2"] and port == "uart" %}
      ## Change to esp32_uart.yaml/esp32_s2_uart.yaml/esp32_c3_uart.yaml to use with ESP32/ESP32-S2/ESP32-C3 chip.
      - packages/esp32_s3_uart.yaml
      {%- endif %}
      {%- if port == "ble" %}
        {%- if type == "4s" %}
      ## Change to esp32_ble.yaml/esp32_c3_ble.yaml to use with ESP32/ESP32-C3 chip.
      - packages/esp32_ble_s3.yaml
        {%- else %}
      ## Change to esp32_s3.yaml/esp32_c3.yaml to use with ESP32-S3/ESP32-C3 chip.
      - packages/esp32_ble.yaml
        {%- endif %}
      ## Persistent connection runtime control switch.
      # - packages/persistent.yaml
      ## Additional connect switch useful for debugging.
      # - packages/connect.yaml
      {%- endif %}
      {%- if type == "4s" %}
      ## Tion internal timers support.
      # - packages/tion_4s_timers.yaml
      {%- endif %}
      ## Internal ESP32 temperature sensor.
      {{ "" if enable_esp32_temperature == "true" else "# " -}}
      - packages/esp32_temperature.yaml
      ## Lilygo T-Dongle S3 internal LED and button support
      # - packages/lilygo.yaml
      ## Web server support.
      {{ "" if enable_web_server == "true" else "# " -}}
      - packages/web_server.yaml
      ## Additional debug information.
      # - packages/debug.yaml
    {%- if (packages_refresh|length) > 0 %}
    refresh: {{ packages_refresh }}
    {%- endif %}

# Uncomment to enable MQTT connection.
# mqtt:
#   broker: !secret mqtt_broker
#   port: !secret mqtt_port
#   username: !secret mqtt_username
#   password: !secret mqtt_password
#   discovery: false # remove or set to true if you plan to use with Home Assistant

# Enable Home Assistant API connection. Please disable if you use MQTT
api:

# WiFi access point configuration.
wifi:
  # Comment next 2 lines to enable manual WiFi configuration via access point.
  ssid: $wifi_ssid
  password: $wifi_password
  # Comment next 2 lines to set access point without password.
  ap:
    password: $wifi_ap_password
  # To completely remove access point remove previous two lines and uncomment next one.
  #ap: !remove

# Virtual port configuration
vport:
  - platform: tion_{{ type }}_{{port}}
    id: tion_{{ port }}_vport
    {%- if port == "ble" %}
    ble_client_id: tion_{{ port }}_client
    ## Optional, Do not disconnect after receiving state. Default: false.
    persistent_connection: false
    ## Optional, Allow to disable other BLE device scanning when breezer is already connected. Default: false.
    # disable_scan: false
    {%- else %}
    uart_id: tion_uart
    {%- endif %}
    {%- if type == "3s" and port == "ble" %}
    ## Optional, Send a pair command after every connect (experimental feature)
    # experimental_always_pair: false
    {%- endif %}
    ## Optional, Interval between sending commands. Set to 0ms to send one command per loop.
    # command_interval: {{ "100ms" if port == "ble" else "20ms" }}
    ## Optional, Command queue size. Default: 10.
    # command_queue_size: 16
    {%- if type == "4s" and port == "uart" %}
    ## Optional, Interval between sending heartbeat commands. Default: 5s.
    # heartbeat_interval: 5s
    {%- endif %}

# Main climate component configuration.
# See detailed description and additional parameters at CONFIGURATION.md
tion:
  type: {{ type }}
  id: tion_api
  # Optional, use vport_id with multiple breezers.
  vport_id: tion_{{ port }}_vport
  # Optional, How often query device state. Default: 60s.
  {%- if port == "uart" %}
    {%- if type == "4s" %}
  update_interval: 15s
    {%- else %}
  update_interval: 30s
    {%- endif %}
  {%- else %}
  update_interval: 60s
  {%- endif %}
  # Optional, Timeout to combine update operations. Default: 200ms.
  batch_timeout: 200ms
  # Optional, Timeout to enable state problem sensor. Must be less than update_interval. Default: 3s.
  state_timeout: {{ "3s" if port == "uart" else "30s" }}
  # Optional, Updates sensor values on any state response or only if they have been changed. Default: false.
  force_update: false

  # Optional, Enable presets. Default: <empty> (no presets)
  # You can define any number of presets with any name.
  # In Home assistant climate entity presets with names home, away, boost, comfort,
  # eco, sleep and activity are automatically translated to your native language and assign icons.
  # Preset configuration:
  #  name_of_your_preset:
  #    fan_speed: 1            # remove or set to 0 to use current state
  #    temperature: 16         # remove or set to 0 to use current state
  #    heater: False           # remove to use current state
  #    power: True             #
{%- if type in ["3s", "4s"] %}
  #    gate_position: outdoor  # remove to use current state, see below for available values
  # Available gate_position:
  #  * outdoor - set gate position to outdoor air intake (3S and 4S only)
  #  * indoor - set gate position to indoor air intake (3S and 4S only)
{%- endif %}
{%- if type == "3s" %}
  #  * mixed - set gate position to mixed air intake (3S only)
{%- endif %}
  # Uncomment next 4 lines to enable example presets.
  # presets:
  #   home: { fan_speed: 2, temperature: 16, heater: False }
  #   away: { fan_speed: 1, temperature: 10, heater: False }
  #   sleep: { fan_speed: 1, temperature: 18 }
{%- if type == "lt" %}
  # Optional, configure hardware button presets. Factory defaults are: 2/4/6, 10/20/25 °C
  #button_presets:
  #  fan_speed: [1, 3, 5]
  #  temperature: [12, 18, 24]
{%- endif %}

################################################################################
#
# Next sections set are only example configuration.
#
# In most cases it is enough, but if you prefer to customize please refer to
# CONFIGURATION.md for full set of available entities and options.
#
################################################################################

climate:
  - platform: tion
    id: tion_climate
    name: None # use friendly_name
    # add HEAT_COOL mode to support turn_on without touching current heater mode.
    enable_heat_cool: True

sensor:
  # Temperature of air before heater, °C (celsius).
  - platform: tion
    id: tion_outdoor_temperature
    type: outdoor_temperature
    name: Outdoor Temperature
{%- if type in ["4s", "lt"] %}
  # Optional, Heater power, W (watt).
  - platform: tion
    id: tion_heater_power
    type: heater_power
    name: Heater power
{%- endif %}
  # Current productivity, m³/h (cubic meters per hour).
  - platform: tion
    id: tion_productivity
    type: productivity
    name: Productivity
  # Filter time left counter.
  - platform: tion
    id: tion_filter_time_left_days
    type: filter_time_left_days
    name: Filter Time Left
  # Boost time left sensor.
  - platform: tion
    id: tion_boost_time_left
    type: boost_time_left
    name: Boost Time Left

switch:
{%- if type != "o2" %}
  # Buzzer control switch.
  - platform: tion
    id: tion_buzzer
    type: sound
    name: Buzzer
{%- endif %}
{%- if type == "4s" %}
  # Led control switch.
  - platform: tion
    id: tion_led
    type: led
    name: Led
{%- endif %}
{%- if type == "4s" %}
  # Recirculation control switch.
  - platform: tion
    id: tion_recirculation
    type: recirculation
    name: Recirculation
{%- endif %}
  # Boost/Turbo switch.
  - platform: tion
    id: tion_boost
    type: boost
    name: Boost
    # Optional, Heater state when boost enabled. If not set current state will be used.
    #heater: False
    # Optional, Target heater temperature state when boost enabled.
    #           If not set or set to 0 - current target temperature will be used.
    #temperature: 10

number:
  # Configure boost time.
  - platform: tion
    id: tion_boost_time
    type: boost_time
    name: Boost Time
    initial_value: 20min
    restore_value: true

select:
{%- if type == "3s" %}
  # Optional, Air Intake control.
  - platform: tion
    id: tion_air_intake
    type: air_intake
    name: Air Intake
{%- endif %}

binary_sensor:
  # Informs about state receiving problem from the breezer.
  - platform: tion
    id: tion_state_problem
    type: state
    name: State Problem
{%- if type == "lt" %}
  # Gate state control.
  - platform: tion
    id: tion_gate_state
    type: gate
    name: Gate State
{%- endif %}
  # Filter warning state.
  - platform: tion
    id: tion_filter_worn_out
    type: filter
    name: Filter Worn Out

text_sensor:
  # Tion firmware version.
  - platform: tion
    id: tion_firmware_version
    type: firmware_version
    name: Version
  # Reports Tion's errors (EC) and warnings (WS).
  - platform: tion
    id: tion_errors
    type: errors
    name: Errors

button:
{%- if type != "o2" %}
  # Reset filter button.
  - platform: tion
    id: tion_reset_filter
    type: reset_filter
    name: Reset Filter
    # Reset filter confirmation. When off then reset_filter will not work.
    confirm:
      name: Reset Filter Confirm
{%- endif %}
{%- if type == "3s" and port == "ble" %}
  - platform: template
    id: tion_pair
    name: Pair
    icon: mdi:bluetooth-connect
    on_press:
      lambda: id(tion_{{ port }}_vport).pair();
    entity_category: config
  ## Uncomment next 5 lines to enable switch for enable reset pair functionality.
  # - platform: template
  #   id: tion_reset_pair
  #   name: Reset Pair
  #   icon: mdi:bluetooth-off
  #   on_press:
  #     lambda: id(tion_{{ port }}_vport).reset_pair();
  #   entity_category: config
{%- endif %}
{#%- if type in ["4s", "lt"] %}
## Uncomment if you plan to use reset errors/warnings functionality.
## This feature is experimental and may partially work or not to work as expected.
#  - platform: template
#    id: tion_reset_errors
#    name: "Reset Errors"
#    on_press:
#      - lambda: id(tion_climate).reset_errors();
{%- endif %#}
