{%- if (port|length) == 0 or (type|length) == 0 %}{{ ("port or type not defined")|raise}}{% endif -%}
{%- set supports_kiv = type == "lt" and port == "uart" -%}
{%- set supports_auto = packages["tion/auto_co2"].enabled -%}
substitutions:
  {%- if port == "ble" %}
  ## Tion mac address. Setup yours.
  tion_mac_address: 00:00:00:00:00:00
  {%- endif %}
  ## Name of the node. Don't use underscores!
  ## https://esphome.io/guides/faq.html#why-shouldn-t-i-use-underscores-in-my-device-name
  {%- if is_prod %}
  node_name: tion-{{ "lite" if type == "lt" else type }}
  {%- else %}
  node_name: test-{{ type }}-{{ port }}-{{ conn }}
    {%- if platform %}-{{ platform }}{% endif %}
    {%- if board %}-{{ board }}{% endif %}
  {% endif %}
  ## Name for the main entity and prefix for all others.
  friendly_name: $node_name

  {%- if type in ["3s", "o2", "lt"] and port == "uart" %}

  ## UART configuration.
  ## !!! Make sure to use YOUR pins or remove if you are using board specific package.
  tx_pin: {{ "GPIO19" if type == "o2" else "TX" }}
  rx_pin: {{ "GPIO20" if type == "o2" else "RX" }}
  {%- endif %}
  {%- if type == "3s" and port == "uart" %}
  ## UART proxy configuration (optional). Works with tion_3s_proxy.yaml.
  ## Make sure to use YOUR pins!
  proxy_tx_pin: GPIO15
  proxy_rx_pin: GPIO13
  {%- endif %}

  ## WiFi settings.
  wifi_ssid: !secret wifi_ssid
  wifi_password: !secret wifi_password
  ## WiFi Access Point password.
  wifi_ap_password: tion-0123-{{ type }}

  {%- if (project_source|length) > 0  %}
  project_source: {{ project_source }}
  {%- endif %}
  {%- if (project_branch|length) > 0  %}
  project_branch: {{ project_branch }}
  {%- endif %}
  {%- if (project_version|length) > 0 %}
  project_version: {{ project_version }}
  {%- endif %}
  {%- if version_tion == "next"%}

  vport_source_refresh: 0s
  project_source_refresh: 0s
  {%- endif %}

packages:
{%- if is_prod %}
  tion:
    {%- if (packages_refresh|length) > 0 or version_tion == "next" %}
    refresh: 0s
    {%- endif %}
    url: https://github.com/dentra/esphome-tion
    ref: {{ version_tion }} # cant use substitutions here
    files:
      ## You can enable or disable some of the features listed below.
      ## The disabled feature starts with # symbol.
      ## The indentation before uncommented package is very important!
      ## Please note that order of packages also is very important!
      {{ "" }}
      {%- for key, value in packages.items() %}
        {%- for comment in value.comment.split("\n") %}
      ## {{ comment }}
        {%- endfor %}
      {{ "" if value.enabled else "# " }}- packages/{{ key }}.yaml
      {%- endfor %}
{%- else %}
  {%- for key, value in packages.items() %}
  {{ "" if value.enabled else "# " }}{{ key }}: !include ../../packages/{{ key }}.yaml
  {%- endfor %}
{%- endif %}

{#- {%- if not is_prod and port == "ble" and packages["esp-idf/4.4.7"].enabled %}
external_components:
  - source: ../../esphome-2025.6-patched
    components: [ esp32_ble ]
{%- endif %} #}

## Uncomment to enable MQTT connection and remove api section.
## Do not forget to uncomment mqtt.yaml or if you plan to use SprutHub spruthub.yaml package above.
{{ "" if conn == "mqtt" else "# " }}mqtt:
{{ "" if conn == "mqtt" else "# " }}   broker: !secret mqtt_broker
{{ "" if conn == "mqtt" else "# " }}   port: !secret mqtt_port
#   username: !secret mqtt_username
#   password: !secret mqtt_password

## Enable Home Assistant API connection.
## It is strongly recommended to remove if you use MQTT!!!
{{ "" if conn == "api" else "# " }}api:
  ## Uncomment next line if you do not use Home Assistant.
  #reboot_timeout: 0s

## WiFi access point configuration.
wifi:
  ## Comment next 2 lines to enable manual WiFi configuration via access point.
  ssid: $wifi_ssid
  password: $wifi_password
  ## Comment next 2 lines to set access point without password.
  ap:
    password: $wifi_ap_password
  ## To completely remove access point remove previous two lines and uncomment next one.
  #ap: !remove

## Virtual port configuration.
vport:
  - platform: tion_{{ type }}_{{port}}
    id: tion_{{ port }}_vport
    {%- if port == "ble" %}
    ble_client_id: tion_{{ port }}_client
    ## Optional, Do not disconnect after receiving state. Default: false.
    ## You can enable persistent.yaml package to control it at runtime.
    persistent_connection: False
    ## Optional, Allow to disable other BLE device scanning when breezer is already connected. Default: false.
    # disable_scan: False
    {%- else %}
    uart_id: tion_uart
    {%- endif %}
    {%- if type == "3s" and port == "ble" %}
    ## Optional, Send a pair command after every connect (experimental feature)
    # experimental_always_pair: False
    {%- endif %}
    ## Optional, Interval between sending commands. Set to 0ms to send one command per loop.
    # command_interval: {{ "100ms" if port == "ble" else "20ms" }}
    ## Optional, Command queue size. Default: 10.
    # command_queue_size: 16
    {%- if type == "4s" and port == "uart" %}
    ## Optional, Interval between sending heartbeat commands. Default: 5s.
    # heartbeat_interval: 5s
    {%- endif %}
    {%- if port == "ble" %}
    ## Optional, BLE connection waiting time. Default: 3s.
    connection_timeout: 5s
    {%- endif %}

## Main climate component configuration.
## See detailed description and additional parameters at CONFIGURATION.md
tion:
  type: {{ type }}
  id: tion_api
  ## Optional, use vport_id with multiple breezers.
  vport_id: tion_{{ port }}_vport
  ## Optional, How often query device state. Default: 60s.
  {%- if port == "uart" %}
  update_interval: {{ "15s" if type == "4s" else "30s" }}
  {%- else %}
  update_interval: 60s
  {%- endif %}
  ## Optional, Timeout to combine update operations. Default: 200ms.
  batch_timeout: 200ms
  ## Optional, Timeout to enable state problem sensor. Must be less than update_interval. Default: 3s.
  state_timeout: {{ "3s" if port == "uart" else "30s" }}
  ## Optional, Updates sensor values on any state response or only if they have been changed. Default: false.
  force_update: False
  ## Optional, Periodically saves current state and restores it of power loss. Default: false.
  restore_state: {{ not is_prod }}
  {%- if supports_kiv %}
  ## Optional, Allow to completely stop the fan without closing air valve. Default: false.
  ##   Limitations of fan off:
  ##     - min outdoor temperature is 5°C
  ##     - heater is off
  enable_kiv: {{ not prod }}
  {%- endif %}
  ##
  ## Uncomment to enable automatic co2 fan speed management.
  ## Also required uncommented tion/auto_co2.yaml and tion/auto_co2_config.yaml.
  ## Please find example of co2 sensor by searching co2_value in this file.
  {{ "" if supports_auto else "# " }}auto:
  {{ "" if supports_auto else "# " }}  co2: co2_value # this is not an id from HA but id from your sensor in this config
  ##
  ## Optional, Enable presets. Default: <empty> (no presets)
  ## You can define any number of presets with any name.
  ## In Home assistant climate entity presets with names home, away, boost, comfort,
  ## eco, sleep and activity are automatically translated to your native language and assign icons.
  ## Preset configuration:
  ##  name_of_your_preset:
  ##    power: True             # Optional, Boolean, default: True.
  ##    fan_speed: 1            # Optional, Integer, range 0-6, default: None.
  ##    temperature: 16         # Optional, Integer, range 0-30, default: None.
  ##    heater: False           # Optional, Boolean, default: None.
  ##    auto: None              # Optional, Boolean, default: None.
{%- if type in ["3s", "4s"] %}
  ##    gate_position: outdoor  # Optional, Enum, default: None. See below for available values.
  ## Available gate_position:
  ##  * outdoor - set gate position to outdoor air intake (3S and 4S only)
  ##  * indoor - set gate position to indoor air intake (3S and 4S only)
{%- endif %}
{%- if type == "3s" %}
  ##  * mixed - set gate position to mixed air intake (3S only)
{%- endif %}
  ## Uncomment next 4 lines to enable example presets.
  # presets:
  #   home: { fan_speed: 2, temperature: 16, heater: False }
  #   away: { fan_speed: 1, temperature: 10, heater: False }
  #   sleep: { fan_speed: 1, temperature: 18 }
{%- if not is_prod %}
  presets:
    home: { fan_speed: 2, temperature: 16, heater: False }
    away: { fan_speed: 1, temperature: 10, heater: False }
    sleep: { fan_speed: 1, temperature: 18}
    gate_indoor: {gate_position: indoor}
    gate_outdoor: {gate_position: outdoor}
    no_heater: { heater: off }
    no_auto: { auto: off }
    do_empty_warning: { power: none }
    do_dup_warning: { heater: off }
{%- endif %}
{%- if type == "lt" and port == "ble" %}
  ## Optional, configure hardware button presets. Factory defaults are: 2/4/6, 10/20/25 °C
  #button_presets:
  #  fan_speed: [1, 3, 5]
  #  temperature: [12, 18, 24]
{%- endif %}

################################################################################
##
## Next sections set are only example configuration.
##
## In most cases it is enough, but if you prefer to customize please refer to
## CONFIGURATION.md for full set of available entities and options.
##
################################################################################

## Main control entity.
climate:
  - platform: tion
    id: tion_climate
    name: Climate
    ## Add HEAT_COOL mode to support turn_on without touching current heater mode.
    enable_heat_cool: True
    ## Add addition "Automatic" fan mode. Affected only if auto is enabled.
    enable_fan_auto: True
  {%- if supports_kiv %}
    ## Add additional "Off" fan mode. Affected only if enable_kiv is on.
    enable_fan_off: {{ not is_prod }}
  {%- endif %}

## Example of control with a fan entity. More info at CONFIGURATION.md.
{{ "# " if is_prod else "" }}fan:
{{ "# " if is_prod else "" }}  - platform: tion
{{ "# " if is_prod else "" }}    id: tion_fan
{{ "# " if is_prod else "" }}    name: Fan

sensor:
  ## Temperature of air before heater, °C (celsius).
  - platform: tion
    id: tion_outdoor_temperature
    type: outdoor_temperature
    name: Outdoor Temperature
{%- if type in ["4s", "lt"] %}
  ## Optional, Heater power, W (watt).
  - platform: tion
    id: tion_heater_power
    type: heater_power
    name: Heater power
{%- endif %}
  ## Current productivity, m³/h (cubic meters per hour).
  - platform: tion
    id: tion_productivity
    type: productivity
    name: Productivity
  ## Filter time left counter.
  - platform: tion
    id: tion_filter_time_left_days
    type: filter_time_left_days
    name: Filter Time Left
  ## Boost time left sensor.
  - platform: tion
    id: tion_boost_time_left
    type: boost_time_left
    name: Boost Time Left
  ##
  ## Example of sensor from Home Assistant.
  #- platform: homeassistant
  #  id: co2_value
  #  entity_id: sensor.bedroom_air_monitor_co2
  ##
  ## Example of sensor from MQTT broker.
  #- platform: mqtt_subscribe
  #  id: co2_value
  #  topic: the/topic
  ##
  ## Example of fake co2 constant value sensor.
  {{ "" if supports_auto else "# " }}- platform: template
  {{ "" if supports_auto else "# " }}  id: co2_value
  {{ "" if supports_auto else "# " }}  lambda: return 800;
{%- if not is_prod %}
  ## Additional test-only entities
  {%- for typ in ["fan_speed", "current_temperature", "target_temperature", "power", "heater_var", "fan_power", "airflow",
            "filter_time_left", "work_time", "work_time_days", "fan_time", "fan_time_days", "airflow_counter",
            "pcb_ctl_temperature", "pcb_pwr_temperature", "max_fan_speed"] %}
  - { platform: tion, name: sensor_{{ typ }}, type: {{ typ }} }
  {%- endfor %}
{%- endif %}

switch:
{%- if type != "o2" and not(type == "lt" and port == "uart") %}
  ## Buzzer control switch.
  - platform: tion
    id: tion_buzzer
    type: sound
    name: Buzzer
{%- endif %}
{%- if type == "4s" %}
  ## Led control switch.
  - platform: tion
    id: tion_led
    type: led
    name: Led
{%- endif %}
{%- if type == "4s" %}
  ## Recirculation control switch.
  - platform: tion
    id: tion_recirculation
    type: recirculation
    name: Recirculation
{%- endif %}
  ## Boost/Turbo switch.
  - platform: tion
    id: tion_boost
    type: boost
    name: Boost
    ## Optional, Heater state when boost enabled. If not set current state will be used.
    #heater: False
    ## Optional, Target heater temperature state when boost enabled.
    ##           If not set or set to 0 - current target temperature will be used.
    #temperature: 10
{%- if not is_prod %}
  ## Additional test-only entities
  {%- for typ in ["power", "heater", "auto"] %}
  - { platform: tion, name: switch_{{ typ }}, type: {{ typ }} }
  {%- endfor %}
{%- endif %}

number:
  ## Configure boost time.
  - platform: tion
    id: tion_boost_time
    type: boost_time
    name: Boost Time
    initial_value: 20min
    restore_value: True
{%- if not is_prod %}
  ## Additional test-only entities
  {%- for typ in ["fan_speed", "target_temperature"] %}
  - { platform: tion, name: number_{{ typ }}, type: {{ typ }} }
  {%- endfor %}
{%- endif %}

{%- if type == "3s" %}

select:
  ## Optional, Air Intake control.
  - platform: tion
    id: tion_air_intake
    type: air_intake
    name: Air Intake
{%- elif not is_prod %}
  ## Additional test-only entities
select:
  {%- for typ in ["air_intake", "presets", "fan_speed"] %}
  - { platform: tion, name: select_{{ typ }}, type: {{ typ }} }
  {%- endfor %}
{%- endif %}

binary_sensor:
  ## Informs about state receiving problem from the breezer.
  - platform: tion
    id: tion_state_problem
    type: state
    name: State Problem
{%- if type == "lt" and port == "ble" %}
  ## Gate state control.
  - platform: tion
    id: tion_gate_state
    type: gate
    name: Gate State
{%- endif %}
  ## Filter warning state.
  - platform: tion
    id: tion_filter_worn_out
    type: filter
    name: Filter Worn Out
{%- if not is_prod %}
  ## Additional test-only entities
  {%- for typ in ["power", "heater", "heating", "sound", "led", "gate_error", "error", "boost"] %}
  - { platform: tion, name: binary_sensor_{{ typ }}, type: {{ typ }} }
  {%- endfor %}
{%- endif %}

text_sensor:
  ## Tion firmware version.
  - platform: tion
    id: tion_firmware_version
    type: firmware_version
    name: Version
  ## Reports Tion's errors (EC) and warnings (WS).
  ## Full error/warning description you can find in a log.
  - platform: tion
    id: tion_errors
    type: errors
    name: Errors
{%- if not is_prod %}
  ## Additional test-only entities
  {%- for typ in ["hardware_version"] %}
  - { platform: tion, name: text_sensor_{{ typ }}, type: {{ typ }} }
  {%- endfor %}
{%- endif %}

{%- if type != "o2" %}

button:
  ## Reset filter button.
  - platform: tion
    id: tion_reset_filter
    type: reset_filter
    name: Reset Filter
    ## Reset filter confirmation. When off then reset_filter will not work.
    ## Has no effect if spruthub.yaml if enabled and can be removed in this case.
    confirm:
      name: Reset Filter Confirm
{%- endif %}
{%- if type == "3s" and port == "ble" %}
  - platform: template
    id: tion_pair
    name: Pair
    icon: mdi:bluetooth-connect
    on_press:
      lambda: id(tion_{{ port }}_vport).pair();
    entity_category: config
  ## Uncomment next 5 lines to enable switch for enable reset pair functionality.
  # - platform: template
  #   id: tion_reset_pair
  #   name: Reset Pair
  #   icon: mdi:bluetooth-off
  #   on_press:
  #     lambda: id(tion_{{ port }}_vport).reset_pair();
  #   entity_category: config
{%- endif %}
{#%- if type in ["4s", "lt"] %}
## Uncomment if you plan to use reset errors/warnings functionality.
## This feature is experimental and may partially work or not to work as expected.
#  - platform: template
#    id: tion_reset_errors
#    name: "Reset Errors"
#    on_press:
#      - lambda: id(tion_climate).reset_errors();
{%- endif %#}

{%- if not is_prod %}
## Test-only
time:
  - id: !extend g_time
    on_time:
     seconds: 0
     minutes: 0
     hours: 8
     then:
     # power
      - tion.power.turn_on: tion_api
      - tion.power.turn_off: tion_api
      - tion.power.toggle: tion_api
      - if:
          condition:
            - tion.power.is_on: tion_api
          then:
            - tion.power.turn_off: tion_api
      - if:
          condition:
            - tion.power.is_off: tion_api
          then:
            - tion.power.turn_on: tion_api
      # heater
      - tion.heater.turn_on: tion_api
      - tion.heater.turn_off: tion_api
      - tion.heater.toggle: tion_api
      - if:
          condition:
            - tion.heater.is_on: tion_api
          then:
            - tion.heater.turn_off: tion_api
      - if:
          condition:
            - tion.heater.is_off: tion_api
          then:
            - tion.heater.turn_on: tion_api
    # boost
      - tion.boost.turn_on: tion_api
      - tion.boost.turn_off: tion_api
      - tion.boost.toggle: tion_api
      - if:
          condition:
            - tion.boost.is_on: tion_api
          then:
            - tion.boost.turn_off: tion_api
      - if:
          condition:
            - tion.boost.is_off: tion_api
          then:
            - tion.boost.turn_on: tion_api
    # auto
      - tion.auto.turn_on: tion_api
      - tion.auto.turn_off: tion_api
      - tion.auto.toggle: tion_api
      - if:
          condition:
            - tion.auto.is_on: tion_api
          then:
            - tion.auto.turn_off: tion_api
      - if:
          condition:
            - tion.auto.is_off: tion_api
          then:
            - tion.auto.turn_on: tion_api
      # fan_speed
      - tion.fan_speed.set:
          id: tion_api
          value: 1
{%- endif %}
